.sidenav-container {
  height: 100vh;
}

.sidenav {
  width: 250px;
  padding: 10px;
  border-right: 1px solid #ccc;
}

.main-content {
  padding: 20px;
}


.active {
  opacity: unset!important;
  color: #728E58 !important;
  font-weight: bolder !important;
  background-color: transparent!important;
}

.nome-prodotto{
  white-space: normal;
  overflow-wrap: break-word;
}
