.example-container {
  min-height: 400px;
}

.active {
  opacity: unset!important;
  color: #728E58 !important;
  font-weight: bolder !important;
  background-color: transparent!important;
}

.mat-drawer-content {
  margin: 0 5px 0 105px;
}
