<div class="container" >
  <div class="row">
    <div class="col-lg-10 col-md-10 ordine-title">
      Prodotti
    </div>
    <div class=" col-lg-2 col-md-2" style="margin-bottom: 10px">
      <button class="float-end" mat-raised-button color="primary" (click)="creaNuovo()">Crea nuovo Prodotto</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5">
          <mat-form-field>
            <mat-label>Cerca...</mat-label>
            <input matInput (keyup)="applyFiltro()" [(ngModel)]="filtro.searchText">
          </mat-form-field>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1">
          <button mat-raised-button color="warn" (click)="filtro.searchText = ''; applyFiltro()">
            Reset
          </button>
        </div>
      </div>
      <div class="mat-elevation-z8">
        <mat-sidenav-container class="sidenav-container">
          <mat-sidenav mode="side" opened class="sidenav">
            <mat-nav-list>
<!--              <mat-list-item class="nome-prodotto" mat-list-item name="ricetta" [routerLink]="'dettaglio/'+prodotto.id"-->
<!--                 *ngFor="let prodotto of filteredProdotti" routerLinkActive="active">{{prodotto.nome}}&nbsp;-->
<!--              </mat-list-item>-->
              <mat-list-item *ngFor="let prodotto of filteredProdotti" name="ricetta" [routerLink]="'dettaglio/'+prodotto.id"
                             routerLinkActive="active">
                <div class="nome-prodotto">
                  {{prodotto.nome}}&nbsp;
                </div>
              </mat-list-item>
            </mat-nav-list>
          </mat-sidenav>

          <mat-sidenav-content class="main-content">
            <router-outlet></router-outlet>
          </mat-sidenav-content>
        </mat-sidenav-container>
      </div>
    </div>
  </div>
</div>


