<div class="container" >
  <div class="row">
    <div class="col-md-12 ordine-title">
      Listino {{id}}
    </div>
  </div>
  <mat-spinner *ngIf="loader" class="loader"></mat-spinner>
  <div class="row" style="margin: 3px 0" *ngIf="!loader">
    <div class="col-md-6">
      <button style="margin-right:3px" mat-flat-button color="primary" (click)="generaListino(0, 0)" matTooltip="genera listino senza IVA">
         NO IVA
        <mat-icon fontIcon="picture_as_pdf"></mat-icon>
      </button>
      <button style="margin-right:3px" mat-flat-button color="primary" (click)="generaListino(1, 0)" matTooltip="genera listino con IVA">
        CON IVA
        <mat-icon fontIcon="picture_as_pdf"></mat-icon>
      </button>
      <button style="margin-right:3px" mat-flat-button color="primary" (click)="stampaListino(0, 0)" matTooltip="stampa listino senza IVA">
        NO IVA<mat-icon fontIcon="print"></mat-icon>
      </button>
      <button style="margin-right:3px" mat-flat-button color="primary" (click)="stampaListino(1, 0)" matTooltip="stampa listino con IVA">
        CON IVA<mat-icon fontIcon="print"></mat-icon>
      </button>
    </div>
    <div class="col-md-6" style="padding: 5px; border:1px solid; text-align:center">
      <span>Listino pubblico&nbsp;&nbsp;</span>
      <button class="public" mat-flat-button color="primary" (click)="generaListino(0, 1)" matTooltip="genera listino pubblico senza IVA">
        NO IVA
        <mat-icon fontIcon="picture_as_pdf"></mat-icon>
      </button>
      <button class="public"  mat-flat-button color="primary" (click)="generaListino(1, 1)" matTooltip="genera listino pubblico con IVA">
        CON IVA
        <mat-icon fontIcon="picture_as_pdf"></mat-icon>
      </button>
      <button class="public" mat-flat-button color="primary" (click)="stampaListino(0, 1)" matTooltip="stampa listino pubblico senza IVA">
        NO IVA<mat-icon fontIcon="print"></mat-icon>
      </button>
      <button class="public" mat-flat-button color="primary" (click)="stampaListino(1, 1)" matTooltip="stampa listino pubblico con IVA">
        CON IVA<mat-icon fontIcon="print"></mat-icon>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="mat-elevation-z8">
        <div class="row text" *ngFor="let cat of listini; index as i" style="margin: 0 20px">
          <div class="col-md-12 categoria">{{cat.prodottoPdfDtos[0].prodottoTipoProdottoDescrizione}}</div>
          <table class="table" style="margin: 0 20px">
            <thead>
            <tr>
              <td class="header prodotto">Prodotto</td>
              <td class="header sacco">Sacco</td>
              <td class="header sacco">Pedana</td>
              <td class="header prezzo senza-iva">Imp. Senza Iva</td>
              <td class="header prezzo con-iva">Imp. Con Iva</td>
              <td class="header prezzo senza-iva">Imp. Senza Iva</td>
              <td class="header prezzo con-iva">Imp. Con Iva</td>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let listino of cat.prodottoPdfDtos">
                <td class="header prodotto">{{listino.prodottoNome}}</td>
                <td>{{listino.prodottoUnitMisuSacco}}</td>
                <td><span *ngIf="listino.prodottoQtaPedana">Q.LI </span>{{listino.prodottoQtaPedana}}</td>
                <td class="prezzo senza-iva">{{listino.ricavoQle}}</td>
                <td class="prezzo con-iva">{{listino.ricavoQleIva}}</td>
                <td class="prezzo senza-iva">{{listino.ricavoPz}}</td>
                <td class="prezzo con-iva">{{listino.ricavoPzIva}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
