<div class="container" >
  <div class="row">
    <div class="col-md-12 ordine-title">
      Listino {{id}}
    </div>
  </div>
  <mat-spinner *ngIf="loader" class="loader"></mat-spinner>
  <div class="row" style="margin: 3px 0" *ngIf="!loader">
    <div class="col-md-12">
      <button style="margin-right:3px" mat-flat-button color="primary" (click)="generaListino(0)" matTooltip="genera listino senza IVA">
         NO IVA
        <mat-icon fontIcon="picture_as_pdf"></mat-icon>
      </button>
      <button style="margin-right:3px" mat-flat-button color="primary" (click)="generaListino(1)" matTooltip="genera listino con IVA">
        CON IVA
        <mat-icon fontIcon="picture_as_pdf"></mat-icon>
      </button>
      <button style="margin-right:3px" mat-flat-button color="primary" (click)="stampaListino(0)" matTooltip="stampa listino senza IVA">
        NO IVA<mat-icon fontIcon="print"></mat-icon>
      </button>
      <button style="margin-right:3px" mat-flat-button color="primary" (click)="stampaListino(1)" matTooltip="stampa listino con IVA">
        CON IVA<mat-icon fontIcon="print"></mat-icon>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="mat-elevation-z8">
        <div class="row text" *ngFor="let cat of listini; index as i" style="margin: 0 20px">
          <div class="col-md-12 categoria">{{cat.prodottoPdfDtos[0].prodottoTipoProdottoDescrizione}}</div>
          <table class="table" style="margin: 0 20px">
            <thead>
            <tr>
              <td class="header prodotto">Prodotto</td>
              <td class="header">Sacco</td>
              <td class="header">Pedana</td>
              <td class="header prezzo">Imp. -Iva</td>
              <td class="header prezzo">Imp. +Iva</td>
              <td class="header prezzo">Imp. +Iva</td>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let listino of cat.prodottoPdfDtos">
                <td class="header prodotto">{{listino.prodottoNome}}</td>
                <td>{{listino.prodottoUnitMisuSacco}}&nbsp;{{listino.prodottoQtaSacco}}</td>
                <td>Q.LI {{listino.prodottoQtaPedana}}</td>
                <td class="prezzo">{{listino.ricavo | currency: 'EUR':'symbol'}}/Q.le</td>
                <td class="prezzo">{{listino.ricavo*1.22 | currency: 'EUR':'symbol'}}/Q.le</td>
                <td class="prezzo">{{((listino.ricavo*1.22)/100)*listino.prodottoQtaSacco | currency: 'EUR':'symbol'}}/Sacco</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
