<h1 mat-dialog-title class="text-center">Modifica ricetta {{data.ricetta.nome}}</h1>
<div mat-dialog-content>
  <button mat-raised-button color="primary" style="float: right" (click)="add()">Aggiungi materia prima</button>
  <table class="table" style="margin: 0 20px">
    <thead class="thead-light">
    <tr>
      <td class="header">Materia prima</td>
      <td class="header">% Materia prima</td>
      <td>Azioni</td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let materia of ricetta.materiePrime">
      <td class="header">{{materia.nome}}</td>
      <td>
        <div *ngIf="!materia.edit">{{materia.percentuale}}%</div>
        <div *ngIf="materia.edit"><input type="number" min="0" max="100" class="form-control" [(ngModel)]="materia.percentuale"></div>
      </td>
      <td>
        <button *ngIf="!materia.edit" (click)="materia.edit = true" mat-icon-button matTooltip="Modifica" >
          <mat-icon aria-hidden="false" aria-label="modifica" fontIcon="edit" color="primary"></mat-icon>
        </button>
        <button *ngIf="materia.edit" (click)="salva(materia)" mat-icon-button matTooltip="Salva" >
          <mat-icon aria-hidden="false" aria-label="save" fontIcon="save" color="primary"></mat-icon>
        </button>
        <button *ngIf="materia.edit" (click)="materia.edit = false; getRicetta()" mat-icon-button matTooltip="Chiudi">
          <mat-icon aria-hidden="false" aria-label="close" fontIcon="close" class="warn"></mat-icon>
        </button>
      </td>
    </tr>
    <tr>
      <td class="header">Totali</td>
      <td></td>
      <td>{{sommaPerc}}%</td>
    </tr>
    </tbody>
  </table>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Indietro</button>
</div>
