<mat-toolbar color="primary" *ngIf="authService.isLoggedIn$ | async">
  <mat-toolbar-row>
    <span >
      <button mat-button [matMenuTriggerFor]="powercolle">Powercolle</button>
      <button mat-button [matMenuTriggerFor]="weber">Weber</button>
      <mat-menu #powercolle="matMenu">
        <button mat-menu-item class="pointer" [routerLink]="['materie-prime']">Materie prime</button>
        <button mat-menu-item class="pointer" [routerLink]="['/prodotti']">Prodotti</button>
        <button mat-menu-item class="pointer" [routerLink]="['/tipo-prodotti']">Categoria Prodotti</button>
        <button mat-menu-item class="pointer" [routerLink]="['/listini']">Listini</button>
      </mat-menu>
      <mat-menu #weber="matMenu">
        <button mat-menu-item class="pointer" [routerLink]="['/materie-prime-weber']">Materie prime</button>
        <button mat-menu-item class="pointer" [routerLink]="['/prodotti-weber']">Prodotti</button>
        <button mat-menu-item class="pointer" [routerLink]="['/tipo-prodotti-weber']">Categoria Prodotti</button>
      </mat-menu>
    </span>
    <span class="example-spacer"></span>
    <mat-icon [matMenuTriggerFor]="menu" class="pointer example-icon" aria-hidden="false"
              aria-label="Example user verified icon">admin_panel_settings
    </mat-icon>
    <mat-menu #menu="matMenu">
      <button mat-menu-item class="pointer" [routerLink]="['/users']">
        <mat-icon>person</mat-icon>
        <span>Gestisci dipendenti</span>
      </button>
      <button mat-menu-item class="pointer" [routerLink]="['/role']">
        <mat-icon>manage_accounts</mat-icon>
        <span>Gestisci ruoli</span>
      </button>
    </mat-menu>
    <mat-icon class="example-icon pointer" aria-hidden="false" aria-label="Example user verified icon" matTooltip="Esci"
              (click)="logout()">logout
    </mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
